@import 'variables';

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: $gray;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.small {
  font-size: 14px;
}

h1 {
  font-size: 28px;
  line-height: 1.285;
  padding-bottom: 1rem;
  color: black;
  @media (min-width: #{$md}) {
    font-size: 36px;
    line-height: 1.16;
  }
}

h2 {
  font-size: 22px;
  line-height: 1.285;
  padding-bottom: .5rem;
  color: black;
  @media (min-width: #{$md}) {
    font-size: 32px;
    line-height: 1.16;
  }
}

.green-radial-gradient {
  background: radial-gradient(84.94% 84.94% at 50% 76.92%, #2A972F 38.14%, #40BE46 89.06%);
}

pre, code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

:not(pre) > code, pre {
    color: white;
    background: #011627;
}

:not(pre) > code {
    padding: 0.1em 0.4em;
    border-radius: 0.3em;
    white-space: normal;
}

pre code {
  white-space: initial;
  word-break: break-all;
}

pre {
  color: white;
  background: #011627;
  padding: 0.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

